[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
discord-py-slash-command = "*"
python-dotenv = "*"
pillow = "*"
python-i18n = "*"

[dev-packages]

[requires]
python_version = "3.9"
